h1{
    font-weight: 700;
}

.centered-text {
    text-align: center;
}
.item{
    width: 90vw;
}
.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
ion-button {
    text-transform: none;
}

